image: gitlab.green-rabbit.net:5050/kimata/local-ubuntu:250706_043ea01d

stages:
    - pre-test
    - test
    - renovate

test-prepare:
    stage: pre-test

    needs: []

    script:
        - uv sync --locked --no-editable

    artifacts:
        paths:
            - $UV_CACHE_DIR
        expire_in: 1 hour

    cache:
        - key:
              files:
                  - uv.lock
          paths:
              - $UV_CACHE_DIR

test-typecheck:
    stage: test

    needs:
        - test-prepare

    script:
        - uv run pytest --numprocesses=auto --no-cov --junit-xml=tests/evidence/junit-report.xml tests/test_typecheck.py

    artifacts:
        when: always
        paths:
            - tests/evidence/**
        reports:
            junit: tests/evidence/junit-report.xml
              
test-normal:
    stage: test

    needs:
        - test-prepare

    cache:
        - key: ${CI_PROJECT_NAME}-data
          paths:            
              - data

    script:
        - 'echo "Building: ${CI_REGISTRY_IMAGE}:${TAG}"'
        - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.green-rabbit.net/kimata/bot-config.git
        - mv bot-config/merhist.yaml config.yaml
        - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.green-rabbit.net/kimata/font.git private_font
        - mv private_font/* font

        - export LANG=ja_JP.UTF-8
        - export LANGUAGE=ja_JP:ja
        - export LC_ALL=ja_JP.UTF-8
        - export TERM=xterm-256color
        
        - uv run python src/app.py -D

       
renovate:
    stage: renovate
    image:
        name: gitlab.green-rabbit.net:5050/kimata/local-renovate:250715_3b8866ff

    script:
        - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

    rules:
        - if: '$CI_COMMIT_BRANCH != "master"'
          when: never
        - if: '$CI_PIPELINE_SOURCE == "schedule"'
        - changes:
              - renovate.json
